<%- include('../partials/header.ejs') %>
<%- include('../partials/header.ejs') %>
<h1>Edit pet information</h1> 
<form action="/pets/<%=pet._id%>?_method=PUT" method="POST">
    <label for="name">pet name:</label>
    <input type="text" name="name" id="name" required value="<%=pet.name%>"/>
    <label for="category">Which category does your pet belong to?</label>
     <select name="category" id="category" required >

        <option name="Dog" id="Dog" value="Dog" <%= pet.category === "Dog" ? "selected" : "" %>>Dog</option>
        <option name='Cat' id="Cat" value="Cat" <%= pet.category === "cat" ? "selected" : "" %>>Cat</option>
        <option name="Other small mammal" id="Other small mammal" value="Other small mammal" <%= pet.category === "Other small mammal" ? "selected" : "" %>>Other small mammal</option>
        <option name="Other large mammal" id="Other large mammal"value="Other large mammal" <%= pet.category === "Other large mammal" ? "selected" : "" %>>Other large mammal</option>
        <option name="Lizard" id="Lizard"value="Lizard" <%= pet.category === "Lizard" ? "selected" : "" %>>Lizard</option>
        <option name="Snake" id="Snake"value="Snake" <%= pet.category === "Snake" ? "selected" : "" %>>Snake</option>
        <option name="Other reptile" id="Other reptile" value="Other reptile" <%= pet.category === "Other reptile" ? "selected" : "" %>>Other reptile</option>
        <option name="Fish" id="Fish"value="Fish" <%= pet.category === "Fish" ? "selected" : "" %>>Fish</option>
        <option name="Bird" id="Bird"value="Bird" <%= pet.category === "Bird" ? "selected" : "" %>>Bird</option>
        <option name="Insect/Arachnid" id="Insect/Arachnid"value="Insect/Arachnid" <%= pet.category === "Insect/Arachnid" ? "selected" : "" %>>Insect/Arachnid</option>
        <option name="Other" id="Other"value="Other" <%= pet.category === "Other" ? "selected" : "" %>>Other</option>
        </select>

     <label for="breed">breed:</label>
     <input type="text" name="breed" id="breed" value="<%=pet.breed%>"/>

     <label for="age">age:</label>
     <input type="number" name="age" id="age" value="<%=pet.age%>"/>

     <label for="profileImg">Image URL of your pet:</label>
     <input type="text" name="profileImg" id="profileImg" value="<%=pet.profileImg%>"/>

     <label for="location">location:</label>
     <input type="text" name="location" id="location" value="<%=pet.location%>"/>

     <label for="date">Date pet-sitter needed:</label>
     <input type="date" name="date" id="date" value="<%=pet.date.toISOString().split('T')[0]%>"/>

        <label for="specialCareNeeded"> Special requirements?</label>
    <input type="checkbox" name="specialCareNeeded" id="specialCareNeeded"
    <% if (pet.specialCareNeeded) { %> checked <% } %> /><br>
<p>Please provide a description of your pet, including any special requirements or useful information</textarea>    Please provide a description of your pet, including any special requirements or useful information</p>
      <textarea id="about" name="about" required rows="4"> <%=pet.about%></textarea> 
      <button type="submit">Save changes</button>
      </form>
      <form action="/pets/<%=pet._id%>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete this pet?');">
            <button type="submit">Remove pet</button>
        </form>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/footer.ejs') %>


