<%- include('../partials/header.ejs') %>
<div class="pets-index"></div>
<h1 class="page-title">Available pets</h1>

<div class="filter-section">
<form method="GET" action="/pets">
    <h2>Filter pets</h2>
    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="">All</option>
        <option value="Dog" <%=category==="Dog" ? "selected" : ""%>>Dog</option>
        <option value="Cat" <%=category==="Cat" ? "selected" : ""%>>Cat</option>
    <option value="Other small mammal" <%=category==="Other small mammal" ? "selected" : ""%>>Other small mammal</option>
    <option value="Other large mammal" <%=category==="Other large mammal" ? "selected" : ""%>>Other large mammal</option>
    <option value="Lizard" <%=category==="Lizard" ? "selected" : ""%>>Lizard</option>
    <option value="Snake" <%=category==="Snake" ? "selected" : ""%>>Snake</option>
        <option value="Other reptile" <%=category==="Other reptile" ? "selected" : ""%>>Other reptile</option>
    <option value="Fish" <%=category==="Fish" ? "selected" : ""%>>Fish</option>
        <option value="Bird" <%=category==="Bird" ? "selected" : ""%>>Bird</option>
        <option value="Insect/Arachnid" <%=category==="Insect/Arachnid" ? "selected" : ""%>>Insect/Arachnid</option>
    <option value="Other" <%=category==="Other" ? "selected" : ""%>>Other</option>
 </select>
 <label>
    <input type="checkbox" name="specialCareNeeded" id="specialCareNeeded" value="true" <%=specialCareNeeded ? 'checked':''%>/>
 Special care needed</label>
 <button type="submit">Filter</button>
 </form>
 </div>

 <div class="pet-grid">

<% if(pets && pets.length){ %>
<%pets.forEach((pet)=>{%>
    <div class="pet-card">
<img alt="image of <%=pet.name%>" class="pet-pic" src="<%=pet.profileImg%>">
<p class="pet-name"><%=pet.name%></p>
<p class="pet-species"><%=pet.species%></p>
<%if (pet.breed){%>
<p class="pet-breed"><%=pet.breed%></p>
<%}%>
<p class="pet-location"><%=pet.location%></p>
<a href="/pets/<%=pet._id%>">View more</a> 
</div>
<% } )} else { %>
<p> No pets available!</p>
    <% } %>
</div>
<!-- make whole div clickable link -->

</div>
 <%- include('../partials/footer.ejs') %>