<%- include('../partials/header.ejs') %>
<h1 class="center-heading">Submit your pet</h1> 
<form action="/pets" method="POST">
    <div class="form-row">
    <label for="name">Pet name:</label>
    <input type="text" name="name" id="name" required/>
    </div>
    <div class="form-row">
    <label for="category">Pet category:</label>
     <select name="category" id="category" required>

        <option name="Dog" id="Dog" value="Dog" <%= pet.category === "Dog" ? "selected" : "" %>>Dog</option>
        <option name='Cat' id="Cat" value="Cat" <%= pet.category === "cat" ? "selected" : "" %>>Cat</option>
        <option name="Other small mammal" id="Other small mammal" value="Other small mammal" <%= pet.category === "Other small mammal" ? "selected" : "" %>>Other small mammal</option>
        <option name="Other large mammal" id="Other large mammal"value="Other large mammal" <%= pet.category === "Other large mammal" ? "selected" : "" %>>Other large mammal</option>
        <option name="Lizard" id="Lizard"value="Lizard" <%= pet.category === "Lizard" ? "selected" : "" %>>Lizard</option>
        <option name="Snake" id="Snake"value="Snake" <%= pet.category === "Snake" ? "selected" : "" %>>Snake</option>
        <option name="Other reptile" id="Other reptile" value="Other reptile" <%= pet.category === "Other reptile" ? "selected" : "" %>>Other reptile</option>
        <option name="Fish" id="Fish"value="Fish" <%= pet.category === "Fish" ? "selected" : "" %>>Fish</option>
        <option name="Bird" id="Bird"value="Bird" <%= pet.category === "Bird" ? "selected" : "" %>>Bird</option>
        <option name="Insect/Arachnid" id="Insect/Arachnid"value="Insect/Arachnid" <%= pet.category === "Insect/Arachnid" ? "selected" : "" %>>Insect/Arachnid</option>
        <option name="Other" id="Other"value="Other" <%= pet.category === "Other" ? "selected" : "" %>>Other</option>
        </select>
        </div>
<div class="form-row">
     <label for="breed">Pet breed (optional):</label>
     <input type="text" name="breed" id="breed"/>
  </div>
  <div class="form-row">
     <label for="age">Pet age:</label>
     <input type="number" name="age" id="age"/>
  </div>
  <div class="form-row">
     <label for="profileImg">Image URL of your pet:</label>
     <input type="text" name="profileImg" id="profileImg"/>
  </div>
  <div class="form-row">
     <label for="location">Your location:</label>
     <input type="text" name="location" id="location"/>
  </div>
  <div class="form-row">
     <label for="date">Date pet-sitter needed:</label>
     <input type="date" name="date" id="date"/>
  </div>
  <div class="checkbox-row">
      <label for="specialCareNeeded"> Special requirements?</label>
    <input type="checkbox" name="specialCareNeeded" id="specialCareNeeded">
   </div>
<div class="textbox">
    <label for="about">Please provide a description of your pet, including details of any special requirements or useful information:</label>  
      <textarea id="about" name="about" required rows="4"></textarea> 
     
      <button id ="submit-pet" type="submit">Submit pet</button>
    </div>  
    </form>
      
<%- include('../partials/footer.ejs') %>