<%- include('../partials/header.ejs') %>

<h1><%=user.name%>'s profile</h1>
<img src="<%=user.profileImg%>" alt="<%=user.name%>'s profile image">
<h2>Your information</h2>
<p><strong>Contact email: </strong> <%=user.email%></p>
<p><strong>Location: </strong> <%=user.location%></p>
<p><strong>About: </strong> <%=user.about%></p>
<%if(loggedInId&& loggedInId.toString()===user._id.toString()){%> 
<form action="/users/<%=user._id%>/edit">
            <button type="submit">Edit bio</button>
            </form>
            <%}%>
<h2>Pet listings</h2>
<!-- show listed pets of user -->

<%if(loggedInId&& loggedInId.toString()===user._id.toString()){%>
<h2> Pet-sitting applications received</h2>
<ul>
    <% applicationsReceived.forEach((application)=>{%>
<li>
<p><strong>Pet: </strong> <%=application.pet.name%></p>
       <p><strong>Status: </strong> <%=application.status%></p>
   <form action="/applications/<%=application._id%>?_method=PUT" method="POST">
    <select name="status">
        <option value="pending" <%=application.status==='pending'?"selected":""%>> Pending </option>
        <option value="accepted" <%=application.status==='pending'?"selected":""%>> Accepted </option>
        <option value="declined" <%=application.status==='pending'?"selected":""%>> Declined </option>
    </select>
    <button type="submit">Submit response</button>
    </form>
     </li>
     <% })%>
</ul>
<h2>Pet-sitting applications sent</h2>
<ul>
<% applicationsSent.forEach((application)=>{%>   
    <li>
       <p><strong>Pet: </strong> <%=application.pet.name%></p>
       <p><strong>Status: </strong> 
       <% if(application.status==="accepted"){%>
        Application accepted! 🎈 <br> <a href="/users/<%=application.owner._id%>"> View <%=application.owner.name%>'s details here</a></p>
        <%}%>
    </li>

<% })%>
</ul>

 <h2>Your comments</h2>
<ul>
<% comments.forEach((comment)=>{%>   
    <li>
       <p><strong>Pet: </strong> <%=comment.pet.name%></p>
       <p><strong>message: </strong> <%=comment.message%></p>
    </li>

<% })%>
</ul>

<%}%>
<%- include('../partials/footer.ejs') %>